$blue-custom: #003882;
$blue-dark: #030d4f;
$blue-light: #0063a9;
$red: #fb0c06;
$yellow: #ffc52c;

// scss-docs-start gray-color-variables
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
// scss-docs-end gray-color-variables

$primary: $blue-custom;
$warning: $yellow;
$danger: $red;

@import '../node_modules/bootstrap/scss/bootstrap.scss';
